.services {
    background-color: color(secondary-dark);
    text-align: center;
    color: color(typography);

    background-image: url('../../static/seo.svg');
    background-position-x: 90%;
    background-position-y: -2%;
    background-repeat: no-repeat;
    background-size: 15%;

    .services-content {
        padding-top: 3rem;
    }

    h1 {
        margin-top: 0;
        padding-top: 2rem;
    };

    .cards-container {
        margin: 2rem auto;
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }
    
    .card-container {
        padding: 2rem;
        height: 300px;
        margin: .5rem;
        position: relative;
        flex: 1 0 30%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-size: cover;
        display: flex;

        div {
            background: linear-gradient(30deg, rgba(color(primary), 1) 0%, rgba(color(primary-dark), 0.8) 100%);
            width: 30%;
            padding: 3rem;
        }

        h2 {
            margin: 0;
        }

        ul {
            padding: 0;
            list-style-type: none;
        }

        li {
            font-size: 1.2em;
            margin: 1rem 0;
        }
        
    }

    [data-scroll] {
        transition: all .5s
    }
    
    [data-scroll='in'] {
        opacity: 1
    }
    
    [data-scroll='out'] {
        opacity: 0
    }

}